[submodule "vendor/logspy/vendor/pimple"]
	path = vendor/logspy/vendor/pimple
	url = https://github.com/fabpot/Pimple
[submodule "vendor/logspy/vendor/Symfony/Component/Yaml"]
	path = vendor/logspy/vendor/Symfony/Component/Yaml
	url = https://github.com/symfony/Yaml.git
[submodule "vendor/logspy/vendor/Symfony/Component/ClassLoader"]
	path = vendor/logspy/vendor/Symfony/Component/ClassLoader
	url = https://github.com/symfony/ClassLoader.git
[submodule "vendor/php-amqplib"]
	path = vendor/php-amqplib
	url = https://github.com/videlalvaro/php-amqplib.git
